/* General Attributes*/
:root
{
    --white-color: #FFFFFF;
    --orange-color: #F4A825;
    --blue-color: #3485B9;
    --dark-gray-color: #2B2B2B;
    --black-color: #000000;
    --offwhite-color: #00000014;
    --offdark-color: #101010;
    --gray-color: #919191;
}
*
{
    font-family: 'Cairo', sans-serif;
    list-style: none;
    transition: all 0.2 ease;
    z-index: 1;
}
section
{
    transition: opacity 0.4s ease;
}
.card{
    max-width: 100%;
}
/*Navbar*/

#newMemberBtn
{
    color: var(--blue-color);
    width: 133px;
    height: 44px;
    border:var(--blue-color) 1px solid;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
}
#newMemberBtn:hover
{
    background-color: #3485B9;
    color: var(--white-color);
}
#signInBtn
{
    background-color: var(--orange-color);
    color: var(--black-color);
    width: 133px;
    height: 44px;
    border-radius: 5px;
    font-weight: 400;
}
.navbar #signInBtn:hover
{
    border-color: var(--black-color);
}
li
{
    margin-left: 50px;
    font-weight: 600;
    font-size: 21px;
}
.navbar-nav li.nav-item a.nav-link {
    color: var(--black-color);
}
.custom-navbar-nav {
    margin-left: 25%;
}
.navbar{
    background-color: rgba(255, 255, 255,0.9);
}
.custom-navbar-nav .active,
.custom-navbar-nav .active:hover {
    color: var(--orange-color) !important;
    border-bottom: 2px solid var(--orange-color);
}
/* HeroSection Style*/



.wHeroSec
{
    display: flex;
    flex-direction: column;
    position: relative;
}
.WordsCol
{
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.wHeroSec h1
{
    text-align: end;
    color: var(--orange-color);
    font-size: 8.5rem;
    font-weight: 700;
}
.wHeroSec h1 span
{
    color: var(--blue-color);
}
.wHeroSec p
{
    justify-content: end;
    text-align: end;
    line-height: 2;
    font-size: 1.3rem;
}
.wHeroSec a
{
    text-align: right !important;
    color: var(--black-color);
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: none;
}
.wHeroSec a span {
    background-color: var(--orange-color);
    padding: 5px 20px;
    border-radius: 5px;
}
#OrangeLine {
    position: absolute;
    top: 10%;
    right: 0;
}
#BlueLine {
    position: absolute;
    bottom: 10%;
    left: 0;
}
.rectangleBlue
{
    display: flex;
    background-color: var(--blue-color);
    width: auto;
    height: 19vh;
    border-radius:50%;
    align-items: center;
    justify-content: center;
    margin-left: -100%;
    margin-right: 50%;
}

.cutout1 {
    width: 80%;
    height: 15vh;
    background-color: white;
    border-radius: 100%;

}

/*News Section Style */

#blueHex{
    background-color: var(--blue-color);
    height: 6vh;
    width: 0.4%;
    border-radius: 5px;
}
.card-body p
{
    font-size: 18px;
    font-weight: 500;
}
.card{
        border: none;
        box-shadow: none;
}
.S1
{
    max-width: 14%;
}
.S1 img
{
    cursor: pointer;
}
/*Services Section*/

#ServicesSection .card
{
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(255, 255, 255, 0.3) inset;
    padding: 15px;
}
.bG
{
    border-radius: 15px;
}
.bG img
{
    justify-content: center;
    align-items: center;
    padding: 15px ;
}
#ServicesSection .card-body h6
{
    font-size: 23px;
    color: #000000;
    font-weight: 700;
}
#ServicesSection .card-body p
{
    font-size: 16px;

}

/* Department Section*/

#DepartmentSection .card-body
{
    border-radius: 0 0 20px 20px;
}

/*Siminar section*/
#NadwatSection .card-body h6
{
    margin: 5% 0 2% 0;
    font-size: 14px;
}
#NadwatSection .card
{
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(255, 255, 255, 0.3) inset;
    padding: 15px;
}
#NadwatSection span
{
    padding: 7px;
    border-radius: 10px;
}
/*Registeration*/

#RegisterNadwa
{
    z-index: 5;
    position: fixed;
    top: 0;
    left: 16%;
    opacity: 0;
    transition: opacity 0.8s ease;
}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    z-index: 1;
}
/*Who Are We*/
#WhoAreweSection{
    padding-top: 8%;
}
/*Contact Section*/

#ContactSection input
{
    background-color: #F2F1F5;
    color: #979797;
    font-size: 20px;
    border-radius: 10px;
    max-width: 100%;
}
/*Footer*/

.Media
{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
}
.Tabs li
{
    cursor: pointer;
}

.Info
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Info img
{
    width: 30%;
}

/*Custom Screens*/
@media screen and (min-width:0) and (max-width:1800px){
    .navbar-brand{
        display: none;
    }
    #OrangeLine , #BlueLine{
        display: none;
    }
}
@media screen and (min-width:1580px) and (max-width:1606px){
    .navbar li a{
        font-size: 20px;
    }
}
@media screen and (min-width:0) and (max-width:1800px){
    .navbar li a{
        margin: 0;
    }
}
@media screen and (max-width:1600px){
    .rectangleBlue , .rectangleOrange{
        display: none;
        background-color: var(--white-color);
    }
}
@media screen and (max-width: 800px) {
    #map{
        width: 100%;
        height: 400px
    }
}
@media screen and (max-width:465px) {
    .wHeroSec h1
{
    font-size: 4rem;
    font-weight: 700;
} 
}
@media screen and (min-width:465px) and (max-width:991px) {
    .wHeroSec{
        max-width: 90%;
    }
    .wHeroSec h1
{

    font-size: 4rem;
    font-weight: 700;
} 
}
@media screen and (min-width:1265px) {
    .Buttons{
        margin: 0;
    }
}